#bg-img{
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#about-sec{
    background-image: url("./aboutBgImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
